<div class="category-sidebar" >

    <div class="sidebar-static">
    </div>


    <div class="sidebar-scrollable">

        <div class="btn-group btn-block" ng-repeat="category in categories">
          <!-- <div class="btn-group"> -->
            <button type="button" class="btn btn-default btn-sm col-sm-10" ng-click="selectCategory(category)">
                [{{ category.id }}] {{ category.c_name }}, {{ category.c_description }}
            </button>
            <button type="button" class="btn btn-default btn-sm dropdown-toggle col-sm-2" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a ng-click="modalEditCategory(category)">Edit</a></li>
                <li><a ng-click="modalDeleteCategory(category)">Delete</a></li>
            </ul>
          <!-- </div> -->

<!--           <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm" >Edit</button>
          </div> -->
<!--           <div class="btn-group">
            <button type="button" class="btn btn-danger btn-sm" ng-click="deleteQuestion(category)">Delete</button>
          </div> -->
        </div>
    </div>
    <!-- /.sidebar-scrollable -->

    <div class="sidebar-static-bottom">
        <input type="submit" class="btn btn-primary btn-sm btn-block" ng-click="modalCreateCategory ()" value="+ Add new  category">
    </div>
    <!-- /.sidebar-static-bottom -->

</div>