<nav class="navbar navbar-default navbar-static-top editor-navbar" role="navigation">
  <ul class="nav navbar-nav navbar-left">
	<li><a href=""><i class="fa fa-save fa-fw"></i> Save Question</a>
	</li>
	<li>
		<p class="navbar-text"> Title: {{ currentQuestion.q_name }} </p>
	</li>
  </ul>
</nav>

<div class="question-editor">


    <h1>Title: {{ currentQuestion.q_name }}</h1>
    <h2>Type: {{ currentQuestion.q_type }}</h2>

<!--     <p>
        <button type="button" class="btn btn-primary btn-lg" ng-click="getMoodleXml()" download="test.xml">Download Moodle XML</button>
    </p> -->


    <form method="post">
    	<textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
    </form>

   <p> {{ tinymceModel }} </p>

</div>
