<nav class="navbar navbar-default navbar-static-top editor-navbar" role="navigation">
  <ul class="nav navbar-nav navbar-left">
	<li><a href=""><i class="fa fa-save fa-fw"></i> Save Question</a>
	</li>
	<li>
		<p class="navbar-text"> Title: {{ currentQuestion.q_name }} </p>
	</li>
  </ul>
</nav>

<div class="question-editor">


    <h1>Title: {{ currentQuestion.q_name }}</h1>
    <h2>Type: {{ currentQuestion.q_type }}</h2>

    <p>
        <button type="button" class="btn btn-primary btn-lg" ng-click="getMoodleXml()" download="test.xml">Download Moodle XML</button>
    </p>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a posuere lacus, sit amet euismod odio. Suspendisse sit amet hendrerit nulla, ut volutpat erat. Nam sed neque vestibulum, mattis nulla vitae, bibendum risus. Aenean sodales, urna non sollicitudin aliquam, ante tortor condimentum augue, in sagittis felis eros ut ipsum. Fusce porta, odio et lobortis auctor, nunc nisl interdum dolor, et mattis dolor lacus sed sapien. Vivamus eget nisl eget tortor tincidunt tincidunt non id ipsum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec eget posuere massa. Sed accumsan mattis lectus luctus sollicitudin. Mauris facilisis, ante ac condimentum euismod, dolor nibh vehicula sapien, vitae tincidunt nibh ipsum vel nunc. Nulla consectetur congue ultrices. Nullam rutrum mattis velit vitae placerat. Morbi condimentum interdum magna, eu varius sem adipiscing ut.

Donec eget ullamcorper mauris. Integer lacus enim, facilisis ac lectus id, rhoncus varius orci. Etiam nec arcu tincidunt, rhoncus nunc ac, tristique ipsum. Integer eget luctus purus, eu mollis ipsum. Integer mollis eget enim eget viverra. Fusce suscipit mi eu dui tristique sodales. Donec non viverra purus. Nulla vel erat magna. Nam auctor tincidunt orci a interdum. Phasellus molestie cursus molestie. Aliquam pretium pharetra orci, vitae porttitor dolor lacinia in. Aenean sodales cursus elementum. Nunc vehicula dolor vel sapien vehicula condimentum. Praesent eleifend mi ut rutrum adipiscing. Suspendisse potenti. Mauris gravida sem quis blandit porttitor.

Etiam cursus scelerisque semper. Sed urna dui, auctor vitae diam eget, fringilla pharetra quam. Duis nisi erat, eleifend id quam eget, dapibus interdum orci. Sed sit amet ante convallis, bibendum justo ut, vulputate elit. Proin elit ligula, luctus quis elementum a, porttitor ut velit. Aliquam quam dui, rhoncus quis fringilla non, tincidunt in nisl. Sed commodo quam vulputate, accumsan est id, sollicitudin tellus.

Duis non aliquet ipsum. Praesent eget tincidunt nisi. Suspendisse a purus eget ipsum tempor luctus id ut nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed non est risus. Donec euismod volutpat nisl, ac laoreet nibh euismod non. Aliquam erat volutpat.

Etiam volutpat sapien ut magna aliquet scelerisque. Sed quam nisi, convallis at consequat ac, aliquet vitae ipsum. Curabitur gravida molestie nunc sed viverra. Mauris dapibus, orci non sagittis tristique, urna nunc varius est, at faucibus purus leo quis sem. Nunc nec enim justo. Fusce tellus nulla, sodales condimentum ligula a, sollicitudin imperdiet nibh. Proin vehicula congue eros non ultrices. Sed arcu odio, adipiscing eget auctor eget, fermentum sit amet nisl. Nam rhoncus fringilla feugiat. Maecenas iaculis pharetra sem. Praesent accumsan, mauris et rhoncus sodales, orci massa molestie tortor, et volutpat eros orci eu risus. Maecenas et euismod tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla eget magna urna.


</p>
<!--     <form method="post">
    	<textarea ui-tinymce ng-model="tinymceModel"></textarea>
    </form>

   <p> {{ tinymceModel }} </p> -->

</div>
