<!-- <div class="disable-editor-overlay" ng-show="isDefaultQuestion()" >
	<p>Please create and/or select a question to edit</p>
</div> -->


<nav class="navbar navbar-default navbar-static-top editor-navbar" role="navigation">
  <ul class="nav navbar-nav navbar-left">
	<li><a ng-click="saveQuestion(currentQuestion)"><i class="fa fa-save fa-fw"></i> Save Question</a>
	</li>
	<li>
		<p class="navbar-text"> Title: {{ currentQuestion.q_name }} </p>
	</li>
  </ul>
</nav>

<div class="question-editor" >


    <h1>Title: {{ currentQuestion.q_name }}</h1>
    <h2>Type: {{ currentQuestion.q_type }}</h2>

<!--     <p>
        <button type="button" class="btn btn-primary btn-lg" ng-click="getMoodleXml()" download="test.xml">Download Moodle XML</button>
    </p> -->


    <form method="post">
    	<textarea ui-tinymce="tinymceOptions" ng-model="currentQuestion.q_body"></textarea>
    </form>

   <p> {{ currentQuestion.q_body }} </p>

    <div class="answer-container" ng-repeat="answer in answers">
        <div class="answer-main">
            <div class="answer-btn-edit" ng-click="editAnswer(answer)">
                <i class="edit-icon fa fa-pencil fa-2x"></i>
            </div>
            <div class="answer-btn-correct">
                <i class="correct-icon fa fa-check fa-2x"></i>
            </div>
            <div class="answer-btn-body" ng-dblclick="editAnswer(answer)">
                <!-- answer text goes here -->
                <label style="width: 100%;" class="editable" ng-hide="answer.editing">{{ answer.a_answer }}</label>
                <form  ng-submit="doneEditing(answer)" ng-show="answer.editing">
                	<input style="width: 100%; height: 3em; text-align: center;" class="editable" ng-model="answer.a_answer">
                </form>
            </div>
            <div class="answer-btn-delete" ng-click="deleteAnswer(answer)">
                <i class="delete-icon fa fa-times fa-2x"></i>
            </div>
        </div>
        <div class="answer-expand"></div>
    </div>
    
<!--     <div class="new-answer" ng-click="loadAnswers()">
        <p>load answers (temp button)</p>
    </div> -->

    <div class="new-answer" ng-click="newAnswer()">
        <i class="new-icon fa fa-plus fa-2x"></i>
    </div>


</div>
