<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Type</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="question in questions">
			<td>{{question.id}}</td>
			<td>{{question.title}}</td>
			<td>{{question.type}}</td>
			<td><a ng-click="deleteQuestion(question)">x</a></td>
		</tr>
	</tbody>
</table>

<form class="form-horizontal" ng-submit="createQuestion()">
    <input placeholder="Question title" ng-model="question.title"> 
    <select ng-model="question.type">
    	<option value="calculated">Calculated</option>
    	<option value="description">Description</option>
    	<option value="essay">Essay</option>
    	<option value="matching">Matching</option>
    	<option value="embeddedAnswers">Embedded Answers</option>
    	<option value="multipleChoice">Multiple Choice</option>
    	<option value="shortAnswer">Short Answer</option>
    	<option value="numerical">Numerical</option>
        <option value="trueFalse">True/False</option>
    </select>
    <input type="submit" class="btn btn-primary" value="Submit">
</form>

