<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
		  <h4 class="modal-title">Create question</h4>
		</div>
		<div class="modal-body">
			<p>Enter the new question details below:</p>
	       <form id="modal-create-question">
	            <div class="form-group">
	            	<label>Question title</label>
	            	<input type="text" placeholder="Question title" class="form-control" ng-model="question.q_name">
	            </div>
	            <!-- /.form-group -->
	            <div class="form-group">
	            	<label>Question type</label>
	                <select class="form-control" ng-model="question.q_type">
                        <option value="calculated">Calculated</option>
                        <option value="description">Description</option>
                        <option value="essay">Essay</option>
                        <option value="matching">Matching</option>
                        <option value="embedded_answers">Embedded Answers</option>
                        <option value="multiple_choice">Multiple Choice</option>
                        <option value="short_answer">Short Answer</option>
                        <option value="numerical">Numerical</option>
                        <option value="true_false">True/False</option>
                    </select>
	            </div>
	            <!-- /.form-group -->
	        </form>
		</div>
		<div class="modal-footer">
		    <button class="btn btn-sm btn-primary" ng-click="confirm()">Confirm</button>
		    <button class="btn btn-sm btn-default" ng-click="cancel()">Cancel</button>
		</div>
	</div>
</div>