<div class="question-sidebar" ng-controller="SidebarCtrl">

    <div class="sidebar-static">
        <form id="create-question" class="form-horizontal" ng-submit="createQuestion()">
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="text" placeholder="Question title" class="form-control" ng-model="question.title">
                </div>
            </div>
            <!-- /.form-group -->
            <div class="form-group">
                <div class="col-sm-8">
                    <select class="form-control" ng-model="question.type">
                        <option value="calculated">Calculated</option>
                        <option value="description">Description</option>
                        <option value="essay">Essay</option>
                        <option value="matching">Matching</option>
                        <option value="embeddedAnswers">Embedded Answers</option>
                        <option value="multipleChoice">Multiple Choice</option>
                        <option value="shortAnswer">Short Answer</option>
                        <option value="numerical">Numerical</option>
                        <option value="trueFalse">True/False</option>
                    </select>
                </div>
                <div class="form-group">
                <div class="col-sm-4">
                    <input type="submit" class="btn btn-primary btn-sm btn-block" value="Submit">
                    </div>
                </div>
            </div>
            <!-- /.form-group -->
        </form>
    </div>
    <!-- /.sidebar-static -->

    <div class="sidebar-scrollable">
<!--
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="question in questions">
                    <td>{{question.id}}</td>
                    <td>{{question.title}}</td>
                    <td>{{question.type}}</td>
                    <td><a ng-click="deleteQuestion(question)">x</a></td>
                </tr>
            </tbody>
        </table> 
-->
        <div class="btn-group btn-group-justified" ng-repeat="question in questions">
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm">[{{ question.id }}] {{ question.title }}</button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm">Edit</button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-danger btn-sm" ng-click="deleteQuestion(question)">Delete</button>
          </div>
        </div>
    </div>
    <!-- /.sidebar-scrollable -->

</div>
<!-- /.question-sidebar -->