html {
    height: 100%;
}

/* Space out content a bit */
body {
    height: 100%;
    padding-top: 50px;
    overflow: hidden;
    box-sizing: border-box;
}

section.mainContent {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  overflow: hidden;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 0px;
}

section.mainContent div {
    height: 100%;
}

form div.row {
    padding: 1px;
}

form{
    box-sizing: border-box;
    height: 16%;
    width: 300px;
    background-color: #c7c7c7;
}

.summaries {
    box-sizing: border-box;
    padding: 5px;
    overflow-y: scroll;
    width: 300px;
    height: 84%;
    background: #e4e4e4;
}

