/* Set height to 100% to fill browser window */
html, body, .main-content {
    height: 100%;
}

/* Pad the top to the size of the Bootstrap navbar */
body {
    /* Bootstrap */
/*    padding-top: 50px;*/
    /* Bootswatch Yeti */
    padding-top: 45px; 
    overflow: hidden;
}

/* MAIN CONTENT AREA (i.e. non-navbar) */
.main-content {
/*    display: -webkit-flex;
    display: flex;
    overflow: hidden;*/
    /*width: 100%;*/
    /*padding-bottom: 0px;*/
}


/* SIDEBAR */
.sidebar-container {
    /* !important to override the inline style inserted by jquery*/
    display: -webkit-flex !important; 
    display: flex !important;
    background-color: black;
    overflow: hidden;
}

.category-sidebar {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1 1 0;
    flex: 1 1 0;
}

.question-sidebar {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1 1 0;
    flex: 1 1 0;
}

/* Set a fixed size nav at the top of the sidebar */
.sidebar-static-top{
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 1px;
    background-color: #c7c7c7;
    width: 300px;
}

#create-question .form-group{
    margin: 2px 0px;
}

/* Set a scrollable nav below */
.sidebar-scrollable {
    -webkit-flex: 1 1 0;
    flex: 1 1 0;
    padding: 5px;
    overflow-y: scroll;
    background: #d6d6d6;
    width: 300px;
}

.sidebar-static-bottom{
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 1px;
    background-color: #c7c7c7;
    width: 300px;
}

/* MAIN EDITOR */
.editor-container{
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex-direction: column;
    flex-direction: column;
/*    -webkit-flex: 1 1 0;
    flex: 1 1 0;*/
    /*position: relative;*/
}

.disable-editor-overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.85);
    z-index:9999;
    color:white;

    text-align: center;

    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}

.editor-navbar {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;

    margin-bottom: 0px;
    /*padding: 1px;*/
    /*background-color: #c7c7c7;*/
    /*width: 100%;*/

/*    position: fixed;
    width: 100%;*/
}

/* Generic question editor */
.question-editor {
    -webkit-flex: 1 1 0;
    flex: 1 1 0;
/*    -webkit-flex-direction: column;
    flex-direction: column;*/
    overflow-y: scroll;
    padding: 10px;
}

.question-editor-overlay {

}

.question-editor-overlay:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

/* tinyMCE */
.tinyText {
    max-width: 40em !important;
}

/* JQuery Layout */

.ui-layout-west {
    display: -webkit-flex !important; 
    display: flex !important;
}

.ui-layout-pane {
    padding: 0;
    background-color: white;
}

.ui-layout-toggler {
        background-color: black;
}

/* fix for bootstrap modal */
.modal { 
    display: block;
}

/* Custom answer buttons */
.new-answer {
    height: 3em;
    min-width: 18em;
    max-width: 40em;
    background-color: #61cc61;
    margin: 0.5em;
    text-align: center;
}
.new-answer:hover {
    background-color: #5db95d;
}
.new-answer:active {
    background-color: #618861;
}
.answer-container {
    height: 4em;
    min-width: 18em;
    max-width: 40em;
    margin: 0.5em
}
.answer-main {
    height: 3em; 
    background-color: #dd1e1e;
    display: flex;
}
.edit-icon, .correct-icon, .delete-icon, .new-icon {
    line-height: 1.6em;
}
.answer-btn-edit, .answer-btn-correct, .answer-btn-delete {
    min-width: 3em;   
    width: 3em;
    height: 3em;
    text-align: center;
}
.answer-btn-edit {
    background-color: #89d3e5;
}
.answer-btn-edit:hover {
    background-color: #64a8b9;
}
.answer-btn-correct {
    background-color: #60badd;
}
.answer-btn-correct:hover {
    background-color: #54a6c6;
}
.answer-btn-correct-toggled {
    color: #88fc88;
}
.answer-btn-body {
    height: 3em;
    flex: 1 1 auto;
    background-color: #e3e3e3;  
    text-align: center;
    line-height: 3em;
}
.answer-btn-delete {
    background-color: #89d3e5;
}
.answer-btn-delete:hover {
    color: #fd4343;
    background-color: #64a8b9;
}
.answer-expand {
    height: 1em;
    background-color: #2d6c80;   
}