/* Set height to 100% to fill browser window */
html, body, .main-content {
    height: 100%;
}

/* Pad the top to the size of the Bootstrap navbar */
body {
    padding-top: 50px; 
    overflow: hidden;
}

.navbar .container {
    width: 100%;
}

/* Main content area (i.e. non-navbar) */
.main-content {
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
    width: 100%;
    padding-bottom: 0px;
}

/* Set display to flex to fill the vertical space */
.main-content, .main-ng-view {
    display: -webkit-flex;
    display: flex;
}

/* Question summary and quick creation sidebar */
.sidebar-container, .question-sidebar {
    display: -webkit-flex;
    display: flex;
}

.question-sidebar {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1 1 0;
    flex: 1 1 0;
}

form.create-question{
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 1px;
    width: 300px;
    background-color: #c7c7c7;
}

.create-question .form-group{
    margin: 2px 0px;
}

.question-list {
    -webkit-flex: 1 1 0;
    flex: 1 1 0;
    padding: 5px;
    overflow-y: scroll;
    width: 300px;
    background: #e4e4e4;
}

/* Main view */
.main-container, .detail-view {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 1 0;
    flex: 1 1 0;
}

.detail-view {
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 10px;
    overflow-y: scroll;
}